APP_NAME="Portal Magang"
APP_ENV=production
APP_KEY=base64:ISI_HASIL_DARI_php_artisan_key_generate
APP_DEBUG=false
APP_URL=https://domain-vercel-kamu.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

# Database yang kamu pakai kemarin: Supabase / PostgreSQL
# Ambil dari Supabase Dashboard > Connect > Session Pooler / Transaction Pooler
DB_CONNECTION=pgsql
DATABASE_URL=postgresql://postgres.xxxxx:ISI_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"
